body {
  margin: 0;
  padding: 0;
background-color: #34495e;
font-family: sans-serif;
}

.registertop {
color: white;
text-transform: uppercase;
font-weight: 500;
}

.registercontent {
width: 400px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;

}

.textbox {
border: 0;
background: none;
display: block;
margin: 1px auto;
text-align: center;
border: 2px solid #3498db;
padding: 18px 25px;
outline: none;
width: 200px;
color: white;
border-radius: 20px;
transition: 0.25s;
}

.worddark {
  margin-bottom: 50px;
  color: white;
}

.textbox:focus,.textbox:focus{
  width: 300px;
  border-color: #2ecc71;
}

.btn {
border: 0;
background: none;
display: block;
margin: 5px auto;
text-align: center;
border: 2px solid #2ecc71;
padding: 14px 10px;
outline: none;
width: 200px;
color: white;
border-radius: 20px;
transition: 0.25s;
}

.btn:hover {
  background: #2ecc71;
}

.msg {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
}
