<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Forget Password </title>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <div class="logincontent" align="center">
            <div class="logintop">
                <h1>Forget Password</h1>
            </div></br></br></br></br>
            <div class="loginbottom">


            <form action="{{ url_for('otpP2') }}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="submit" class="btn" value="Next">
            </form>

                </br></br>
            </div>
        </div>
    </body>
</html>
